<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KMIQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KMIQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="KMIQ.Properties.Settings.ConnectionString" connectionString="Server=db.smartomr.com,1807;Database=KEDPI_KMIQ;User ID=KEDPI_KMIQ;Password=KMIQQQ_+][ㅠ0=`ㅡb8!Js궳쨽d襒160812!2@6;Connection Timeout=10;"
      providerName="" />
  </connectionStrings>
  <userSettings>
    <KMIQ.Properties.Settings>
      <setting name="Device_PrintName" serializeAs="String">
        <value />
      </setting>
    </KMIQ.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <KMIQ.Properties.Settings>
      <setting name="AuthID" serializeAs="String">
        <value>2990</value>
      </setting>
    </KMIQ.Properties.Settings>
  </applicationSettings>
</configuration>