<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel" version="4.8.20232.611" targetFramework="net48" />
  <package id="C1.C1Zip" version="4.5.20232.611" targetFramework="net452" />
  <package id="C1.Win" version="4.8.20232.611" targetFramework="net48" />
  <package id="C1.Win.Bitmap" version="4.8.20232.611" targetFramework="net48" />
  <package id="C1.Win.C1DX" version="4.8.20232.611" targetFramework="net48" />
  <package id="C1.Zip" version="2.0.20202.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net452" />
</packages>